<html>
  <head>
    <title>Catalog</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/styles.css') }}'>
  </head>

  <body>

    <div id="headingArea">
      <a href="{{url_for('show_catalog')}}"><span id="heading">Catalog App</span></a>
      <a href="{{url_for('disconnect')}}"><button id="button">Logout</button></a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div id="content2">
      <h2>Edit Item</h2>
      <form method="post">
        <p><label for="title">Title</label><br>
        <input type="text" maxlength="50" name="title" value="{{item.name}}"></p>

        <p><label for="desc">Description</label><br>
        <textarea name="desc" cols="80" rows="5">{{item.desc}}</textarea></p>

        <p><label for="category">Category</label><br>
        <select name="cat_ident" size="1">
            {% for cat in categories %}
            <option value="{{cat.ident}}" {% if item.category_ident == cat.ident %}selected="selected"{% endif %}>{{cat.name}}</option>
            {% endfor %}
        </select></p>
        <button type="submit">Submit</button> | <input type="button" name="cancel" value="Cancel" onclick="history.go(-1);return true;">
      </form>
    </div>
  </body>

</html>